fastapi
fastapi-users[sqlalchemy]
uvicorn
pydantic
sqlalchemy
aiosqlite
python-jose[cryptography]
python-multipart
passlib[bcrypt]
pandas
numpy
networkx
scikit-learn
matplotlib
mesa[rec]
pyarrow
openpyxl
python-dotenv
fastapi-pagination
shap
community
python-louvain