fastapi>=0.104.0
fastapi-users[sqlalchemy]>=12.1.2
uvicorn>=0.24.0
pydantic>=2.5.0
sqlalchemy>=2.0.25
aiosqlite>=0.19.0
python-jose[cryptography]>=3.3.0
python-multipart>=0.0.6
passlib[bcrypt]>=1.7.4
pandas
numpy
networkx
scikit-learn
matplotlib
mesa[rec]
pyarrow
openpyxl
python-dotenv
fastapi-pagination
shap
community
python-louvain
asyncpg 
psycopg2-binary 
